.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
.heading-lagre {
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.14;
  color: #201830;
}

.heading-medium {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.24;
  color: #201830;
}

.heading-small {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #201830;
}

.btn-lagre {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  color: #201830;
}

.btn-medium {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  color: #201830;
}

.btn-small {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.71;
  color: #201830;
}

.desc-lagre {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  color: #201830;
}

.desc-medium {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  color: #201830;
}

.desc-small {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.71;
  color: #201830;
}

.f-1 {
  flex: 1;
}

.f-2 {
  flex: 2;
}

.f-3 {
  flex: 3;
}

.f-4 {
  flex: 4;
}

.f-5 {
  flex: 5;
}

.f-6 {
  flex: 6;
}

.f-7 {
  flex: 7;
}

.f-8 {
  flex: 8;
}

.f-9 {
  flex: 9;
}

.f-10 {
  flex: 10;
}

.f-11 {
  flex: 11;
}

.f-12 {
  flex: 12;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.6rem;
  color: #201830;
  margin: 0;
  padding: 0;
  background: var(--color-1);
  height: 9999999px;
}

button,
input,
optgroup,
select,
textarea {
  font-size: inherit;
  margin: 0;
  outline: none;
  border: none;
  background: transparent;
}

a,
li {
  text-decoration: none;
  list-style: none;
  color: #201830;
  transition: cursor 0.3s;
}

a,
button {
  cursor: pointer;
  transition: 0.25s;
}
a:hover,
button:hover {
  opacity: 0.8;
}

:root {
  --color-1: #fff8f3;
  --color-2: #ff9051;
  --color-3: #936cdd;
  --text-color: #201830;
  --text-color-gray: #665f73;
}

.btn {
  display: inline-block;
  min-width: 116px;
  min-height: 48px;
  height: 64px;
  padding: 9px 29px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  border-radius: 8px;
}

.separate {
  margin: 5px 0;
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #ccc;
}

.header {
  padding-top: 42px;
}

.nav--row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.nav--list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav--item:first-child {
  margin-right: auto;
}
.nav--link {
  padding: 10px 24px;
  color: var(--text-color-gray);
  transition: text-shadow 0.2s;
}
.nav--link:hover {
  text-shadow: 0px 0px 1px var(--text-color-gray);
}
.nav--link__dropdow {
  margin: 2px 0 0 -10px;
}
.nav--btn {
  height: 48px;
  transition: 0.25s;
}
.nav--btn:hover {
  opacity: 0.8;
}
.nav--btn-login {
  color: var(--text-color);
}
.nav--btn-signup {
  border-radius: 6px;
  background: var(--text-color);
}
@media (max-width: 991.98px) {
  .nav--menu {
    position: fixed;
    top: 0;
    left: 0;
    inset: 0 40% 0 0;
    background: #fff;
    z-index: 999;
    transform: translateX(-100%);
    transition: 0.3s;
    overscroll-behavior: contain;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  .nav--list {
    margin-top: 20px;
    display: block;
    width: 100%;
  }
  .nav--link {
    display: block;
    width: 100%;
  }
  .nav--link__dropdow {
    display: none;
  }
  .nav--overlay {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    display: none;
    z-index: 998;
    overscroll-behavior: contain;
    transition: 0.3s;
  }
  .nav--overlay__close {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .nav--link {
    padding: 10px 16px;
  }
  .nav--link__dropdow {
    margin-left: 10px;
  }
}
.nav .show-menu:checked ~ .nav--menu {
  transform: translateX(0);
}
.show-menu:checked ~ .nav--overlay {
  display: block;
  opacity: 0.3;
}

.hero {
  margin-top: 120px;
}
.hero-img {
  display: flex;
  gap: 30px;
}
.hero--img__left {
  position: relative;
}
.hero--group-icon {
  margin-top: 53px;
}
.hero--list {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex: 1;
}
.hero--icon-num {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  background: #201830;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.83;
}
.hero--icon-person, .hero--icon-num {
  margin-left: -12px;
}
.hero--icon-person:first-child {
  margin-left: 0;
}
.hero--icon__playing {
  position: absolute;
  left: 0;
  bottom: -84px;
}
.hero--icon-num__podcast {
  position: relative;
  margin: 8px 0 0 148px;
  display: inline-block;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background: var(--color-2);
  align-content: center;
}
.hero--icon-num__podcast::before, .hero--icon-num__podcast::after {
  content: url("../icon/hero-line.svg");
  display: inline-block;
  position: absolute;
}
.hero--icon-num__podcast::before {
  left: -64px;
}
.hero--icon-num__podcast::after {
  bottom: -47px;
  left: 30px;
}
.hero--icon-num__heading {
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1;
}
.hero--icon-num__desc {
  margin-top: 4px;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
}
.hero--group--logo {
  display: flex;
  align-items: center;
  gap: 18px;
}
.hero--img-right {
  position: relative;
  margin-top: 28px;
}
.hero--blog {
  position: absolute;
  left: 38px;
  bottom: 16px;
  width: 194px;
  height: 60px;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 12px 44px 0px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero--blog__heading {
  margin-bottom: 6px;
  color: #201830;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}
.hero--blog__desc {
  color: var(--text-color-gray);
  font-size: 1.2rem;
  line-height: 1;
}
.hero-content {
  margin-left: 130px;
}
.hero--heading {
  position: relative;
  width: 470px;
  z-index: 2;
}
.hero--heading::before {
  content: url("../icon/curve.svg");
  position: absolute;
  left: 35px;
  bottom: 54px;
  z-index: -1;
}
.hero--desc {
  margin-top: 8px;
  width: 470px;
  color: var(--text-color-gray);
  font-weight: 400;
}
.hero--group-btn {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 38px;
}
.hero--btn {
  padding: 17px 27px;
  border-radius: 8px;
  background: #936cdd;
}
.hero--btn-play {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 17px 27px;
}
@media (max-width: 1399.98px) {
  .hero-content {
    margin-left: auto;
  }
}
@media (max-width: 1199.98px) {
  .hero--img {
    width: 200px;
  }
  .hero--blog {
    left: 3px;
  }
  .hero--icon-num__podcast {
    margin-left: 115px;
  }
  .hero--icon__playing {
    left: -41px;
  }
  .hero--heading {
    font-size: 6.6rem;
  }
  .hero--heading::before {
    left: 33px;
    bottom: 47px;
  }
}

/*# sourceMappingURL=style.css.map */
